# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = example.settings

[deploy:docker]
url = http://192.168.59.103:6800/
project = example
version = GIT